body {
    background-color: #ddd;
}

nav {
    padding-bottom: 130px;
    background-image: linear-gradient(#1b1b1b, #5333, #0000);
}

main {
    display: flex;
    height: 75vh;
    width: 80%;
    margin: 0 auto;
    padding-top: 150px;
    gap: 20px;
}

#pizzas {
    flex: 3;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 10px;
    overflow: scroll;
}

.pizza {
    width: 30%;
    height: 55%;
    border: 2px solid black;
    border-radius: 5px 10px;
    background-color: white;

    div {
        display: flex;
        justify-content: space-between;
        height: 64px;
    }

    h4 {
        padding: 5px;
        font-size: 20px;
    }

    p {
        padding: 10px;
        font-size: 13px;
    }

    img {
        margin-top: 3px;
        width: 100%;
        height: 45%;
    }

    .sizes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        label > span {
            width: 50px;
            height: 50px;
            border: 1px solid black;
            border-radius: 10px;
            text-align: center;
            line-height: 30px;
        }

        input {
            display: none;
            width: 20px;
            background-color: black;
        }

        input:checked + span {
            border: 1px solid red;
            background-color: rgba(255, 0, 0, 0.125);
        }

        .width {
            color: rgba(48, 48, 48, 0.43);
            font-size: 12px;
            transform: translateY(-10px);
        }
    }

    button {
        margin: 10px auto;
        width: 100%;
        height: 45px;
        font-size: 20px;
        font-weight: bold;
        background-color: transparent;
        border: none;
    }
}

#summary {
    border: 2px solid black;
    border-radius: 25px;
    flex: 1;

    > h3 {
        text-align: center;
        border-bottom: 1px solid rgba(55, 55, 55, 0.616);
        padding: 10px 0;
        height: 10%;
    }

    #items {
        height: 70%;
        overflow: scroll;

        .item {
            display: flex;
            justify-content: space-between;
            padding: 5px 10px;
        }
    }

    .total {
        border-top: 1px solid rgba(55, 55, 55, 0.616);
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(55, 55, 55, 0.616);

        h3 {
            padding: 5px 0
        }
    }

    #pay {
        padding-bottom: 3px;
        border-radius: 0 0 25px 25px;
        height: 10%;

        h3 {
            width: 100%;
            height: 100%;
            padding-top: 13px;
            border-radius: 25px;
            font-size: 25px;
            font-weight: bold;
            border: none;
            outline: none;
            text-align: center;
        }
    }

}

#pay:hover {
    background-color: rgba(0, 0, 0, 0.112);
}