@font-face {
    font-family: foodFont;
    src: url("font/FoodFont.otf");
}

@font-face {
    font-family: boluga;
    src: url("font/Boluga\ Regular.otf");
}

* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    overflow: hidden;
    font-family: boluga;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

nav {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100px;
    padding-bottom: 500px;
    
    display: flex;
    flex-direction: row;

    background-image: linear-gradient(#000, #5333, #0000);
    color: rgb(206, 206, 206);
}

nav div {
    width: 50%;
    display: flex;
}

.left {
    padding-left: 30px;
    height: 75%;
    margin: auto 0;

    a {
        display: flex;
        gap: 20px;
    }   

    h1 {
        padding: 10px 0;
        height: 100%;
        font-family: foodFont;
    }

    img {
        width: 64px;
        height: 64px;
    }
}

.right {
    flex-direction: row-reverse;
    gap: 25px;
    height: 50%;
    margin: auto 0;
    padding-right: 50px;

    a {
        padding: 10px 40px;
        border-radius: 25px;
        background-color: rgb(73, 17, 17);
        font-size: 20px;
    }

    a:hover {
        background-color: rgb(93, 37, 37);
    }
}

nav div a {
    display: block;
    width: max-content;
    text-decoration: none;
    color: inherit;
}